@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>直播设置</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/ck/ckplayer/ckplayer.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/md5.js"></script>
    <link href="~/css/myStyle.css" rel="stylesheet" />
    <link href="~/css/sui.css" rel="stylesheet" />
    <script src="~/js/sui.js"></script>
</head>
<body style="background-color:#f2f2f3;">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(255, 255, 255, 0.95);z-index:1000;">
        <div class="container" id="div_header_container">
            <div class="navbar-header">
                <a class="navbar-brand " href="/"><span class="top_header_item">首页</span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/Directory/0"><span class="top_header_item">直播</span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/Class"><span class="top_header_item">分类</span></a>
            </div>
            <div class="navbar-header" style="padding-top:8px;padding-bottom:8px;box-sizing:border-box;height:50px;">
                <div class="header-search">
                    <input type="text" id="txt_search" placeholder="搜索" readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" />
                    <div class="header-search-btn">
                        <img style="width:20px;height:20px;" src="../fonts/Search_24.14055636896px_1181298_easyicon.net.png" />
                    </div>
                </div>
            </div>
            <div id="right_top_float" style="float:right;display:none;">
                <div id="div_login_panel" style="display:inline-block">
                    <a href="javascript:;" class="a_rightTop" id="a_login" style="" onclick="ShowLoginDlg()">登录</a>
                    <span id="_shuxian" style="font-size: 16px;line-height: 50px;">|</span>
                    <a href="javascript:;" class="a_rightTop" id="a_reg" onclick="ShowRegDlg()">注册</a>
                </div>
                <div id="div_login_ed_panel" style="display:inline-block;display:none;">
                    <div class="_group_user" style="display:inline-block;cursor:pointer; " onclick="location.href='/Personal'">
                        <img class="head_right_top" style="width:36px;height:36px;border-radius:18px;margin-right:5px;cursor:pointer;" />
                        <a href="/Personal" class="a_rightTop a_user"></a>
                    </div>
                    <div class="padnel_head_right_top">
                        <div class="div_arrow"></div>
                        <a href="javascript:;" class="a_log_out" id="a_logout"><div class="header-exit-icon"></div><span>退出</span></a>
                        <div style="width:64px;height:64px;margin:10px auto 0 auto;">
                            <img class="head_right_top" style="height:100%;width:100%;border-radius:32px;cursor:pointer;"
                                 onclick="location.href='/Personal'" />
                        </div>
                        <div style="width:100%;text-align:center;">
                            <span class="a_user" style="padding-left:5px;"></span>
                            <span class="_sex" style="vertical-align:middle;"></span>
                            <br />
                            <span class="_sign" style="font-size:12px;"></span>
                        </div>
                        <div class="div_level_bar_wrap">
                            <div class="div_level_bar">
                                <span class="div_level_bar_cur_level">LV1</span>
                                <div class="div_level_bar_containter">
                                    <span>0/100</span>
                                    <div class="div_level_bar_scroll"></div>
                                </div>
                                <span class="div_level_bar_nex_level">LV2</span>
                            </div>
                        </div>
                        <div class="div_wallet_wrap">
                            <div class="div_wallet_float_chongzhi orange_btn" onclick="layer.msg('暂未开启')">充值</div>
                            <div style="color:#555;">钱包</div>
                            <div style="margin-top:5px;">
                                <span class="span_gold">金币&nbsp;&nbsp;0</span>
                                <span class="span_siliver">银币&nbsp;&nbsp;0</span>
                            </div>
                        </div>
                        <div class="div_task_wrap">
                            <div class="div_task_wrap_top_line"></div>
                            <div style="margin-left:13px;margin-right:13px;margin-top:5px;">
                                <a style="display:none;float:right;" class="a_normal" href="/Personal/DailyTask">更多</a>
                                <div style="color:#555;">每日任务</div>
                                <div class="div_task_list">
                                    @*<div class="div_task_list_item">
                                            <span class="div_task_list_item_progress">0/1</span>
                                            <span class="div_task_list_item_discribe">观看1次直播</span>
                                            <span class="div_task_list_item_exp">(+20EXP)</span>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container" style="margin-top:76px;">
        <div class="main_div" style="width:80%;margin:0 auto 0 auto; background-color:rgba(255, 255, 255, 0.95);min-height:888px;position:relative;">
            <div class="divLeftNav">
                <div class="left-nav-header">个人中心</div>
                <div class="left-nav-item ">
                    <a href="/Personal">
                        我的信息
                    </a>
                </div>
                <div class="left-nav-item">
                    <a href="/Personal/EditInfo">
                        编辑资料
                    </a>
                </div>
                <div class="left-nav-item ">
                    <a href="/Personal/ChangePWD">
                        修改密码
                    </a>
                </div>
                <div class="left-nav-item active ">
                    <a href="/Anchor">
                        直播设置
                    </a>
                </div>
            </div>
            <div style="margin-left:180px;position:relative;">

                <div class="main_content">


                    <div style="font-size:22px;height:70px;">
                        <span style="border-left:4px solid #f80;padding-left:3px;">推流设置</span>
                    </div>
                    <div id="stream_info" style="margin-top:-20px;margin-bottom:35px;">
                        <div style="vertical-align:top;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align: middle;">
                                直播开关
                            </span>
                            <div style="display:inline-block;margin-left:20px;color:#777;">
                                <div id="stream_switch" class="sui-switch @Html.Raw(ViewBag.RoomInfo.IsLiving==true?"sui-active":"")">
                                    <i></i>
                                </div>

                            </div>
                        </div>
                        <div id="streamInfo" style="display:none;">
                            <div style="vertical-align:top;">
                                <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align: middle;">

                                </span>
                                <div style="display:inline-block;margin-left:20px;color:#777;margin-top:15px;">
                                    <div>
                                        rtmp地址&nbsp;:&nbsp;<span id="txtrtmp">rtmp://127.0.0.1:1935/live</span>
                                        <input onclick="copyRTMP()" type="button" class="white_btn" style="width:45px;" value="复制" />
                                    </div>
                                    <div style="margin-top:10px;">
                                        推流码&nbsp;:&nbsp;
                                        <span id="txtStreamCode"><span id="channel">@Html.Raw(ViewBag.RoomInfo.StreamChannel)</span>?pass=<span id="streamCode">@Html.Raw(ViewBag.RoomInfo.StreamCode)</span></span>
                                        <input onclick="copyStreamCode()" type="button" class="white_btn" style="width:45px;" value="复制" />
                                        <input id="btn_re_code" type="button" class="white_btn" style="width:70px;" value="重新获取" />

                                        <br />
                                        <span>(请不要泄露你的直播推流码)</span>
                                    </div>
                                    <div id="copy-temp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="font-size:22px;height:70px;">
                        <span style="border-left:4px solid #f80;padding-left:3px;">房间设置</span>
                    </div>
                    <div id="room_form">
                        <div style="vertical-align:middle;margin-bottom:10px;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align: middle;">
                                房间标题
                            </span>
                            <span style="display:inline-block;margin-left:20px;color:#777;">
                                <input type="text" name="RoomName" class="form-control" value="@Html.Raw(ViewBag.RoomInfo.Name)" style="width:295px;" />
                            </span>
                        </div>
                        <div style="vertical-align:top;margin-top:15px;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align: top;">
                                房间公告
                            </span>
                            <div style="display:inline-block;margin-left:20px;">
                                <textarea class="form-control" name="Notice" style="resize: none;border-color:#ccc;" maxlength="64" rows="4" cols="36">@Html.Raw(ViewBag.RoomInfo.Notice)</textarea>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;">
                                房间分类
                            </span>
                            <span style="display:inline-block;margin-left:20px;margin-top:15px;color:#777;">
                                <span name="CLASSID" data-value="@Html.Raw(ViewBag.RoomInfo.ClassId)" style="line-height:26px;color:#3b9eeb;">未选择</span>
                                <input style="vertical-align:top;margin-left:5px;" type="button" class="white_btn btn_choose_class" value="更改" />
                            </span>
                        </div>


                        <div style="vertical-align:top;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align: top;">
                                个性封面
                            </span>
                            <div style="display:inline-block;margin-left:20px;color:#777;">
                                <div style="display:none;">
                                    <form id="uploadForm">
                                        <input type="file" name="file" />
                                    </form>
                                </div>
                                <div id="custom_cover_switch" class="sui-switch @Html.Raw(ViewBag.RoomInfo.IsCustomCover==true?"sui-active":"")">
                                    <i></i>
                                </div>
                                <div id="div_upload_cover" style="margin-top:10px;display:@Html.Raw(ViewBag.RoomInfo.IsCustomCover==true?"block":"none")">
                                    <div id="div_cover" style="display:@Html.Raw(string.IsNullOrWhiteSpace(ViewBag.RoomInfo.CoverUrl)?"none":"block")">
                                        <img id="img_cover" style="width:288px;height:162px;"
                                             src="@Html.Raw(string.IsNullOrWhiteSpace(ViewBag.RoomInfo.CoverUrl)?"/fonts/black.png":ViewBag.RoomInfo.CoverUrl)" />
                                    </div>
                                    <input id="btn_upload" type="button" class="white_btn" style="width:45px;margin-top:10px;" value="上传" />

                                </div>
                            </div>
                        </div>



                        <div style="vertical-align:top;margin-top:15px;">
                            <span style="text-align:right;width:100px;display:inline-block;color:#777;vertical-align:middle;">
                                &nbsp;
                            </span>
                            <div class="btn-save" style="margin-left:20px;">
                                保存
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div style="position:fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,0.5);display:none;z-index:29999;" id="div_mask"></div>

    <div style="position:fixed;display:none;z-index:39999;width:680px;top:50%;padding-bottom:40px;border-radius:4px;
        background-color:#fff;left:50%;margin-left:-340px;margin-top:-300px;" class="divChooseClass">
        <div class="close_btn" style="margin-top:10px;float:right;margin-right:10px;"></div>
        <div style="padding-left:2%;padding-top:10px;font-size:16px;font-weight:500;">直播分类</div>
        <div style="width:92%;margin:20px auto 0 auto;">
            <div class="main_class">

            </div>
            <div style="clear:both;margin-bottom:5px;margin-top:10px;">点击切换栏目</div>
            <div style="width:100%;height:1px;border-bottom:1px dotted #ccc;margin-bottom:10px;"></div>
            <div class="sub_class">

            </div>
        </div>
    </div>

    <div style="display:none;" id="divLoginAndReg">
        <div style="text-align:center;display:none;width:92%;margin:10px auto 0 auto;" id="divReg">
            <div class="form-horizontal  ">
                <div class="form-group">
                    <span class="col-sm-3 control-label">用户名</span>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtRegUser" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtRegPass" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">确认密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtRegPass2" />
                    </div>
                </div>
            </div>

            <input class="btn btn-block  btn-info" type="button" id="btnReg" value="注册" />
        </div>

        <div style="text-align:center;width:92%;margin:10px auto 0 auto;" id="divLogin">
            <div class="form-horizontal ">
                <div class="form-group">
                    <span class="col-sm-3 control-label">用户名</span>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtLoginUser" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtLoginPass" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">
                        验证码
                    </span>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="validCode" />
                    </div>
                    <div class="col-sm-4">
                        <img src="../api/User/VerificationCode?seed=123" id="imgCode" onclick="this.src+='1'" alt="验证码" title="点击换一个" />
                    </div>

                </div>
            </div>
            <input class="btn btn-block btn-info" type="button" id="btnLogin" value="登录" />
        </div>
    </div>
    <script type="text/javascript">

       var user = '@Html.Raw(ViewBag.User)';
        //user = unescape(user.replace(/&#x/g, '%u').replace(/;/g, ''));


        function decode(val) {
            if (val != null)
                return val.replace(/&#x/g, '%u').replace(/;/g, '');
            return '';
        }

        var asset = '@Html.Raw(ViewBag.UserAssetJson)';

        if (asset != 'null') {
            asset = JSON.parse(asset);
        } else {
            asset = null;
        }

        var dict_class = '@Html.Raw(ViewBag.Dict_Class)';

        if (dict_class != 'null') {
            dict_class = JSON.parse(dict_class);
        } else {
            dict_class = null;
        }

        sui.initForm();

        function getStyle(obj, styleName) {
            if (obj.currentStyle) { return obj.currentStyle[styleName]; } else {
                return getComputedStyle(obj, null)[styleName];
            }
        }

        function randomNum(minNum, maxNum) {
            switch (arguments.length) {
                case 1:
                    return parseInt(Math.random() * minNum + 1, 10);
                    break;
                case 2:
                    return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                    break;
                default:
                    return 0;
                    break;
            }
        }

        function copyStreamCode() {
            var $o = $("<textarea rows='10' cols='50'>");
            $o.val($("#txtStreamCode").text())//填充要复制的文字
            $("#copy-temp").append($o)
            if (copy($o[0])) {
                $o.remove()
                //alert("复制成功！");
            } else {
                alert("复制失败，请手动复制");
            }
        }

        function copyRTMP() {
            var $o = $("<textarea rows='10' cols='50'>");
            $o.val($("#txtrtmp").text())//填充要复制的文字
            $("#copy-temp").append($o)
            if (copy($o[0])) {
                $o.remove()
                //alert("复制成功！");
            } else {
                alert("复制失败，请手动复制");
            }
        }

        function copy(obj) {
            obj.select();
            try {
                if (document.execCommand('copy', false, null)) {
                    document.execCommand("Copy");
                    return true;
                }
            } catch (err) {

            }
            return false;
        }

        $(function () {

            $('#btnReg').off('click').on('click', function () {
                var username = $('#txtRegUser').val();
                var password = $('#txtRegPass').val();
                var password2 = $('#txtRegPass2').val();
                if (username.length < 1 || password.length < 1) {
                    alert('用户名和密码长度不足');
                    return;
                }
                if (password != password2) {
                    alert('两次输入密码不一致');
                    return;
                }
                $.post('../api/User/Reg', { 'username': username, 'password': hex_md5(password) }, res => {
                    if (res.success) {
                        layer.closeAll();
                        Login(username, hex_md5(password), '15212310');//注册成功登录
                        layer.msg('注册成功');
                    } else {
                        alert(res.message);
                    }
                });
            });


            $('#btnLogin').off('click').on('click', function () {
                var username = $('#txtLoginUser').val();
                var password = $('#txtLoginPass').val();
                var code = $('#validCode').val();
                if (username == '' || password == '' || code == '') {
                    return;
                }
                Login(username, hex_md5(password), code);
            });


            $('.Aside-toggle-Expand').off('click').on('click', function (e) {
                $('.Aside-toggle-Expand,.left_expand').hide();
                $('.Aside-toggle-Shark,.left_shark').show();
                $('.left').css('width', '0');
                //resize();
            });

            $('.Aside-toggle-Shark').off('click').on('click', function (e) {
                $('.Aside-toggle-Expand,.left_expand').show();
                $('.Aside-toggle-Shark,.left_shark').hide();
                $('.left').css('width', '240px');
                //resize();
            });


            $('.header-search-btn ').click(function () {
                window.location.href = '/Search/' + $('#txt_search').val();
            });

            $('#txt_search').keyup(function (event) {
                if (event.keyCode == 13) {
                    window.location.href = '/Search/' + $('#txt_search').val();
                }
            });

            //$('#img_head_icon,.btnUploadHead,.head_mask').click(function () {
            //    $('[name=file]').click();
            //});
            //$('[name=file]').on('change', function () {
            //    doUploadHead();
            //});

            $('._group_user').hover(function () {
                UpadteUserAsset();
                GetDailyTask();
            }, function () {

            });

            //////////////////////////选择分类
            $('.btn_choose_class').click(function () {
                showClassDlg();
            });
            $('.divChooseClass .close_btn').click(function () {
                $('#div_mask').hide();
                $('.divChooseClass').hide();
                if (_is_change_class == true) {
                    var acitve_item = $('.sub_class .choose_class_item.active');
                    if (acitve_item.length > 0) {
                        $('[name=CLASSID]').attr('data-value', acitve_item.attr('data-value')).text(acitve_item.text());
                    }
                }
                _is_change_class = false;
            });

            set_main_class();

            set_sub_class(dict_class[0][0].id);

            $('.main_class .choose_class_item').click(function () {
                var _this = $(this)
                if (!_this.hasClass('active')) {
                    var id = _this.attr('data-value');
                    set_sub_class(id);
                }
            });

            $('.divChooseClass .sub_class').on('click', '.choose_class_item', function () {
                var _this = $(this);
                _is_change_class = true;
                $('.divChooseClass .sub_class .choose_class_item').removeClass('active');
                _this.addClass('active');
            });


            //////////////////////////选择分类


            $('#btn_upload').click(function () {
                $('[name=file]').click();
            });

            $('[name=file]').on('change', function () {
                upload_cover();
            });

            $('#custom_cover_switch').click(function () {
                var h = $(this).hasClass('sui-active');
                if (h) {
                    //关
                    $('#div_upload_cover').hide();
                } else {
                    //开
                    $('#div_upload_cover').show();
                }
            });

            $('#stream_switch').click(function () {
                var h = $(this).hasClass('sui-active');
                if (h) {
                    //关播
                    stopStream();
                } else {
                    //开播
                    startStream();
                }
            });

            if ($('#stream_switch').hasClass('sui-active')) {
                $('#streamInfo').show();
            }

            $('#btn_re_code').click(function () {
                //重新获取推流码
                $.post('/api/Anchor/UpdateStreamCode', {}, function (res) {
                    if (res.success) {
                        $('#streamCode').html(res.data);
                    }
                });
            });


            $('#room_form .btn-save').click(function () {
                saveRoomInfo();

            });

            var classid = $('[name=CLASSID]').attr('data-value');
            for (var key in dict_class) {
                var list = dict_class[key];
                var flag = false;
                for (var i = 0; i < list.length; i++) {
                    if (flag) break;
                    if (list[i].id == classid) {
                        $('[name=CLASSID]').text(list[i].name);
                        flag = true;
                        break;
                    }
                }
            }



            if (user != '') {
                ShowAfterLogin();
            }
            $('#right_top_float').show();
        });

        function getNextExp(val) {
            return parseInt(val) * 100;
        }

        function saveRoomInfo() {
            var CLASSID = $('[name=CLASSID]').attr('data-value');
            var Name = $('[name=RoomName]').val();
            var Notice = $('[name=Notice]').val();
            if (CLASSID == '' || Name == '' || Notice == '') {
                layer.msg('请先填写完整信息');
                return;
            }
            $.post('/api/Anchor/SetRoomInfo', {
                CLASSID: CLASSID,
                Name: Name,
                Notice: Notice,
                CoverUrl: $('#img_cover').attr('src'),
                IsCustomCover:$('#custom_cover_switch').hasClass('sui-active')?"true":"false"
            }, function (res) {
                if (res.success) {
                    layer.msg("保存成功");
                } else {
                    layer.msg(res.message);
                }
            });
        }

        function startStream() {
            $.post('/api/Anchor/StartBroadcast',{}, function (res) {
                console.log(res);
                if (res.success) {
                    $('#streamInfo').show();
                    $('#channel').html(res.data.streamChannel);
                    $('#streamCode').html(res.data.streamCode);
                }
            });
        }

        function stopStream() {
            $.post('/api/Anchor/StopBroadcast', {}, function (res) {
                //console.log(res);
                if (res.success) {
                    $('#streamInfo').hide();
                }
            });
        }

        function set_sub_class(classid) {
            var list = dict_class[classid];
            var str = '';
            $('.main_class .choose_class_item').removeClass('active');
            $('.main_class .choose_class_item[data-value=' + classid + ']').addClass('active');
            $.each(list, function (i, o) {
                str += '<span class="choose_class_item" data-value="' + o.id + '">' + o.name + '</span>';
            });
            $('.sub_class').empty().append($(str));
        }
        var _is_change_class = false;
        function set_main_class() {
            var list = dict_class[0];
            var str = '';
            $.each(list, function (i, o) {
                str += '<span class="choose_class_item" data-value="' + o.id + '">' + o.name + '(' + dict_class[o.id].length + ')</span>';
            });
            $('.main_class').empty().append($(str));
        }

        function showClassDlg() {

            $('#div_mask').show();
            $('.divChooseClass').show();

        }


        function UpadteUserAsset() {
            //更新用户信息
            $.post('/api/User/GetUserAsset', {}, function (res) {
                if (res.success) {
                    asset = res.data;
                    SetUserAsset(asset);
                }
            });
        }

        function compleTask(id) {
            $.post('/api/User/CompleteTask', { id: id }, function (res) {
                if (res.success) {
                    UpadteUserAsset();
                    GetDailyTask();
                } else {
                    layer.msg(res.message);
                }
            });
        }

        function GetDailyTask() {
            //获取每日任务
            $.post('/api/User/GetDailyTask', {}, function (res) {
                var data = res.data;
                var str = '';
                $.each(data, function (i, v) {
                    if (v.currentCount >= v.totalCount) {
                        if (v.isComplete) {
                            str += '<div class="div_task_list_item"><span class="div_task_list_item_progress_received">';
                            str += '已完成</span>';
                        } else {
                            str += '<div class="div_task_list_item"><span class="div_task_list_item_progress_complete" onclick="compleTask(' + v.id + ')">';
                            str += '领取</span>';
                        }
                    } else {
                        str += '<div class="div_task_list_item"><span class="div_task_list_item_progress">';
                        str += v.currentCount + '/' + v.totalCount + '</span>';
                    }
                    str += '<span class="div_task_list_item_discribe">';
                    str += v.discribe + '</span><span class="div_task_list_item_exp">(+' + v.exp + 'EXP)</span> </div>';
                });
                $('.div_task_list').empty().append($(str));
            });
        }

        function SetUserAsset(asset) {
            $('#a_user,.a_user').text(asset.nickName);
            var headIcon = asset.headIcon;
            $('.head_right_top').each(function (i, o) {
                $(this).attr('src', headIcon);
            });
            var sex = asset.sex;
            if (sex == "男") {
                $('._sex').removeClass("personal_female").addClass("personal_male");
            } else {
                $('._sex').removeClass("personal_male").addClass("personal_female");
            }
            if (asset.sign) {
                $('._sign').empty().text(asset.sign);
            } else {
                $('._sign').empty().append($('<a class="_a_edit_sign" href="/Personal/EditInfo" >点击编辑个性签名</a>'));
            }
            var exp = parseInt(asset.exp);
            var level = asset.level;
            var nextExp = getNextExp(level);
            $('.div_level_bar_containter span').text(exp + '/' + nextExp);
            $('.div_level_bar_cur_level').text('LV' + level);
            $('.div_level_bar_nex_level').text('LV' + (parseInt(level) + 1));
            $('.div_level_bar_scroll').css('width', (exp / nextExp) * 100 + '%');
            $('.span_gold').html('金币&nbsp;&nbsp;' + parseInt(asset.gold));
            $('.span_siliver').html('银币&nbsp;&nbsp;' + parseInt(asset.silver));

        }


        function upload_cover() {
            var formData = new FormData($("#uploadForm")[0]);
            //console.log(formData);
            $.ajax({
                url: '../api/Anchor/UploadCover',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#img_cover').attr('src', res.data);
                    $('#div_upload_cover,#div_cover').show();
                },
                error: function (res) {
                    layer.msg(res.message);
                }
            });
        }

        function doUploadHead() {
            var formData = new FormData($("#uploadForm")[0]);
            //console.log(formData);
            $.ajax({
                url: '../api/Personal/UploadHead',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    asset.HeadIcon = res.data;
                    $('#head_right_top').attr('src', res.data);
                    $('#img_head_icon').attr('src', res.data);
                    layer.msg('保存成功');
                },
                error: function (res) {
                    layer.msg(res.message);
                }
            });
        }

        function Login(username , pwd ,code) {
            $.post('../api/User/Login', {
                'username': username, 'password': pwd,
                'code': code
            }, function(res) {
                if (res.success) {
                    layer.closeAll();
                    $('#imgCode').click();
                    user = res.data[0].userName;
                    asset = res.data[1];
                    $('#head_right_top').attr('src', asset.headIcon);
                    ShowAfterLogin();
                } else {
                    layer.msg(res.message);
                    $('#imgCode').click();
                }
            });
        }

        function ShowAfterLogin() {
            $('#div_login_panel').hide();
            SetUserAsset(asset);
            $('#div_login_ed_panel').show();
            $("#a_logout").show().off('click').on('click', function () {
                $.post('../api/User/LogOut', {}, function (res) {
                    if (res.success) {
                        window.location.href = "/";
                        $('#div_login_panel').show();
                        $('#div_login_ed_panel').hide();
                        user = '';
                    } else {
                        layer.msg(res.message);
                    }
                });
            });
        }

        function ShowLoginDlg() {
            $('#txtLoginUser').val('');
            $('#txtLoginPass').val('');
            $('#validCode').val('');
            $('#divReg').hide();
            $('#divLogin').show();
            layer.open({
                type: 1,
                title: '登录',
                content: $('#divLoginAndReg'),
                area: ['420px', '260px'],
                cancel: function () {
                    $('#imgCode').click();
                }

            });
        }

        function ShowRegDlg() {
            $('#txtRegUser').val('');
            $('#txtRegPass').val('');
            $('#txtRegPass2').val('');
            $('#divReg').show();
            $('#divLogin').hide();
            layer.open({
                type: 1,
                title: '注册账号',
                content: $('#divLoginAndReg'),
                area: ['420px', '255px']

            });
        }

    </script>


</body>
</html>
